apt-get update

# NETFILTERQUEUE INSTALLATION
apt-get install build-essential python-dev libnetfilter-queue-dev
# OR :
# pip install NetfilterQueue
# OR :
# git clone git@github.com:kti/python-netfilterqueue.git
# cd python-netfilterqueue
# python setup.py install

# SCAPY INSTALLATION
pip install scapy


